p
{
    background-color: blue;
    color: white;
    font-family: arial;
    font-size: 22pt;
}

p.xmas
{
    color: red;
    background-color: green;
}

body
{
    background-image: url(background_image.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a
{
    background-color: blue;
    color: red;
}

a:hover
{
    background-color: red;
    color: green;
}

title
{
    color: white;
    background-color: red;
}